.App {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  min-height: 100vh;
}

.card-container {
  margin: 50px auto;
  min-width: 320px;
  max-width: 640px;

  .ui.fluid.card {
    background: transparent;
    color: #ffffff;
  }
}

.strategy {
  font-size: 1.67rem;
  text-transform: uppercase;
  line-height: 2rem;

  padding: 50px 20px;
}