@import './variables.scss';

.card-container {
  margin: 50px auto;
  min-width: 320px;
  max-width: 640px;

}

.strategy {
  color: $text-color;
  font-size: 1.4em;

  padding: 50px 20px 40px 20px;
}

.switch-edition {
  padding-top: 50px;
}

.edition-button {
  font-size: 0.9em;
}