@import './variables.scss';

body {
  color: $text-color;
}

.card-container {
  padding: 50px;
}

.strategy {
  font-size: 1.4em;
  padding: 50px 20px 40px 20px;
}

.edition-button {
  font-size: 0.9em;
}

.footer {
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100% - 40px);
  padding: 20px;
  font-size: 0.9em;
  
  display: flex;
  justify-content: space-between;
}