@import url('https://fonts.googleapis.com/css?family=Poppins');

// colors
$text-color: rgba(255, 255, 255, .85);
$inverse-text-color: rgba(0, 0, 0, 0.85);

// fonts
$base-font-family: 'Poppins', 'Helvatica', sans-serif;
$base-font-size: 1.5em;